.slider {
    position: relative;
    width: 900px !important;
    height: 900px !important;
    background: rgb(68, 68, 68, 0.4);
    border: 5px dashed #fff;
    border-radius: 800px;
    backdrop-filter: blur(20px);
    transition: .3s;
    transform: rotate(0deg);
    margin-right: -500px;
    margin-top: -70px;

    cursor:grab;
}
.slider::before {
    content: "";
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px !important;
    height: 900px !important;
}
.slider-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background: rgba(1, 95, 108, 0.31);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    backdrop-filter: blur(4px);
    color: #fff;
}


img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid #fff;
}

img:nth-child(1) {
    transform: translate(-400px, -50%);
}
img:nth-child(2) {
    transform: translate(-310px, -330px) rotate(45deg);
}
img:nth-child(3) {
    transform: translate(-50%, -420px) rotate(90deg);
}
img:nth-child(4) {
    transform: translate(150px, -330px) rotate(135deg);
}
img:nth-child(5) {
    transform: translate(240px, -50%) rotate(180deg);
}
img:nth-child(6) {
    transform: translate(150px, 130px) rotate(225deg);
}
img:nth-child(7) {
    transform: translate(-50%, 240px) rotate(270deg);
}
img:nth-child(8) {
    transform: translate(-310px, 130px) rotate(315deg);
}

.buttons {
    position: relative;
}

.buttons .text {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-90deg) translate(-200px, -140px);
    font-size: 130px;
    left: 0;
    color: rgba(29, 29, 29, 0.803);
}